.leaderboard-view {
    width: 100%;
    text-align: center;
    margin: 3rem 0;
}

.leaderboard-view table {
    width: 80%;
    margin: 1rem auto;
    max-width: 600px;
}

.leaderboard-view table, .leaderboard-view th, .leaderboard-view td {
    font-size: 1.6rem;
    border: 2px solid #555;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}