.question-category {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius: 8px;
  padding: .5rem;
}

.category-item {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: .5rem;
}

.category-item:not(:last-child) {
  border-right: 2px solid black;
}

.categories-list {
  margin: 2rem;
}

.categories-list > form {
  width: 70%;
  margin: 1rem auto;
}

.categories-list > h2, .questions-list > h2 {
  font-size: 2.4rem;
}

.form-input {
  height: 5rem;
  border-radius: 8px;
  outline: none;
  border: 2px solid black;
  font-size: 1.6rem;
  padding: .5rem;
}

.questions-list {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.Question-holder {
  padding: 1rem 2rem;
  border: 2px black solid;
  text-align: left;
  margin: 1rem;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.Question {
  font-size: 1.6rem;
  width: 100%;
  margin: 2rem 0;
}

.answer-holder {
  font-size: 2rem;
  height: 2.5rem;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

span.page-num {
  margin: 1rem;
  padding-bottom: 4rem;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 1.6rem;
  cursor: pointer;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .question-category {
    width: 90%;
    flex-direction: column;
  }

  .category-item:not(:last-child) {
    border-bottom: 2px solid black;
    border-right: none;
  }

  .categories-list > form {
    width: 85%;
  }

  .questions-list {
    width: 95%;
  }

  .Question-holder {
    padding: .5rem 1rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .question-category {
    width: 100%;
  }

  .categories-list > form {
    width: 100%;
  }
}