.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
    font-size: 1.6rem;
}

.category-holder {
    margin-top: 16px;
    font-size: 2rem;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: #ffb703;
    cursor: pointer;
}

.button {
    font-size: 1.6rem;
    font-family: 'Inconsolata', monospace;
    width: fit-content;
    margin-top: 10px;
    background-color: #ffb703;
    color: white;
    padding: 1rem 2rem;
    align-self: center;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease-in;
}

.button:hover {
    transform: translateY(-5px) scale(1.1);
}

div.button {
    margin: 2rem auto;
}

.quiz-question {
    margin: 12px;
    font-size: 2.2rem;
}

.correct {
    color: green;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.wrong {
    color: red;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.player-name-holder {
    margin-top: 2rem;
    font-size: 2rem;
    border: 2px solid black;
    padding: 2rem;
}

.player-name-input {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#player-name {
    outline: none;
    height: 4.5rem;
    padding: 0 .5rem;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 1.6rem;
    font-family: 'Inconsolata', monospace;
}

.player-btn {
    font-size: 1.6rem;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    width: 100px;
    border: none;
    border-radius: 8px;
    background-color: #ffb703;
    color: white;
    padding: 3px 5px;
    cursor: pointer;
}